.drag-box {
  width: 220px;
  height: 220px;
  border: solid 1px #444;
  color: rgba(0, 0, 0, 0.85);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.drag-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dragdrop-wrapper {
    width: 450px;
    max-width: 100%;
    border: solid 1px #eee;
    min-height: 65px;
    display: block;
    background: white;
    border-radius: 3px;
    overflow: hidden;
    background-color: #ffffff;
    margin: 20px auto;
  }
  
  .dragdrop-inner {
    padding: 22px 12px;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: solid 1px #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .dragdrop-inner:last-child {
    border: none;
  }
  
  .dragdrop-wrapper.cdk-drop-list-dragging 
  .dragdrop-inner:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }